@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 6px 9px -5px rgba(22, 21, 21, 0.31);
  position: relative;
}

.city {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: bold;
  gap: 10px;
}

.explorer {
  background-color: #fafafa;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.explorer__btn {
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 15px 30px;
  border-radius: 25px;
  box-shadow: 2px 6px 9px -5px rgba(22, 21, 21, 0.31);
  transition-duration: 0.25s;
  margin-bottom: 30px;
}
.explorer__btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 15px 45px 30px;
}
.fonctionnement #conteur {
  counter-set: conteur-counter;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  text-align: center;
}
.fonctionnement .etapes {
  position: relative;
  background-color: #fafafa;
  padding: 25px 0px;
  border-radius: 20px;
  display: flex;
  gap: 0.5rem;
  counter-reset: steps;
  box-shadow: 2px 6px 9px -5px rgba(22, 21, 21, 0.31);
  max-width: 390px;
  justify-content: center;
  color: #000000;
  width: 100%;
  height: 80px;
  align-items: center;
}
.fonctionnement .etapes::before {
  counter-increment: conteur-counter;
  content: counter(conteur-counter);
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 10px;
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
}
.fonctionnement .etapes:hover {
  background-color: rgba(147, 86, 220, 0.1098039216);
}
.fonctionnement .etapes:hover i {
  color: #9356DC;
}
.fonctionnement .etapes i {
  color: #000000;
  opacity: 0.5;
  position: absolute;
  left: 35px;
}

#menu {
  background-color: #fafafa;
  width: 100%;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#menu h2 {
  width: 100%;
}
#menu__card {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
#menu__card a {
  width: 100%;
  max-width: 605px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  position: relative;
}
#menu__card a .nouveau::before {
  content: "Nouveau";
  position: absolute;
  width: 90px;
  height: 30px;
  background-color: #99E2D0;
  right: 20px;
  top: 20px;
  color: #1b6150;
  display: grid;
  place-items: center;
  font-weight: 400;
}
#menu__card a .card {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 2px 6px 9px -5px rgba(22, 21, 21, 0.31);
}
#menu__card a .card__img {
  border-radius: 25px;
  width: 100%;
  height: 70%;
}
#menu__card a .card__img img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menu__card a .card__desc {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  gap: 5px;
  padding: 10px;
  width: 100%;
  height: 30%;
  border-radius: 0 0 25px 25px;
}
#menu__card a .card__desc .fa-regular {
  position: absolute;
  right: 30px;
  transition-duration: 0.25s;
}
#menu__card a .card__desc .fa-regular:hover {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(1.05);
  font-weight: 600;
}

footer {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #ffffff;
  opacity: 0.8;
  background-color: #000000;
}
footer h4 {
  margin-bottom: 10px;
  font-family: "Shrikhand", cursive;
}
footer a {
  display: flex;
  gap: 10px;
  color: inherit;
}

#banner {
  width: 100%;
  height: 500px;
  position: relative;
}
#banner a {
  color: inherit;
}
#banner a::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  left: 5%;
  top: -65px;
  font-size: 25px;
  opacity: 0.8;
}
#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carte {
  width: 100%;
  border-radius: 25px 25px 0 0;
  min-height: 600px;
  background-color: #fafafa;
  position: relative;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  gap: 20px;
}
#carte h2 {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#carte__menu {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
#carte__menu .partie {
  width: 375px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: auto;
  min-height: 400px;
}
#carte__menu .partie__choix {
  border: 1px solid red;
  width: 100%;
  height: 80%;
}
#carte__btn {
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 15px 55px;
  border-radius: 25px;
  box-shadow: 2px 6px 9px -5px rgba(22, 21, 21, 0.31);
  transition-duration: 0.25s;
  margin-bottom: 30px;
}
#carte__btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
