@use "./sass/base/base.scss";
@use "./sass/layouts/header.scss";  
@use "./sass/layouts/city.scss";
@use "./sass/layouts/explorer.scss";
@use "./sass/layouts/fonctionnement.scss";
@use "./sass/utils/variables.scss";

#menu{
    width: 100%;
    padding: 15px;
}
#menu h2{
    background-color: saddlebrown;
}
#menu__card{
    background-color: yellow;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#menu a{
    border: 2px solid black;
    background-color: blueviolet;
    width: 100%;
    max-width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 100%;
    height: 100%;
}
.card__img{
    width: 100%;
    height: 80%;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__desc{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
    gap: 5px;
    padding: 10px;
    width: 100%;
    height: 10%;
}
.card__desc i{
    position:absolute;
    right: 30px;
}