@use "../utils/colors.scss";
@use "../utils/variables.scss";
@use "../utils/mixins.scss";
.explorer {
  background-color:colors.$Gris_clair;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
    &__btn {
      @include mixins.btn_transform();
    }
}