@use"../utils/colors.scss";
footer{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: colors.$White;
    opacity: 0.8;
    background-color: colors.$Black;
    & h4{
        margin-bottom: 10px;
        font-family: "Shrikhand", cursive;
    }
    & a{
        display: flex;
        gap: 10px;
        color: colors.$White;
    }

}

