@use "../utils/variables.scss";
header{
    font-family: "Shrikhand", cursive;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 6px 9px -5px variables.$Box-shadow_Color;
    position: relative;
}